{% extends "video_cutter_app/base.html" %}


{% block content %}

<!-- Campo para inserir o link do YouTube -->
<div class="youtube-link "id="youtube-link" >
    <form method="post" enctype="multipart/form-data" id="youtube-download-form">
        {% csrf_token %}
        <div class="youtube-link-div-internal">
            <label for="youtube-url">Link do YouTube:</label>
            
            <input type="url" name="youtube_url" id="youtube-url" required>
            <button id="download-youtube-video-button" class="btn btn-primary btn-sm" type="submit">Baixar Vídeo</button>
        </div>
    </form>

    <span class="ou">OU</span>
</div>

<!-- Botão para escolher e carregar vídeo -->
<div class="choose-file  center-button" id="choose-file">

    <div >
        <input type="file" accept="video/*" id="video-upload-input" style="display: none;">
        <button id="choose-video-button" class="btn btn-primary btn-lg ">Escolher Vídeo</button>
    </div>


</div>



<!-- Vídeo selecionado -->
{% if video %}
<div class="video-choose">
    <video controls id="video-player" style="display: block;">
        <source src="{{ video.video_file.url }}" type="video/mp4">
        Seu navegador não suporta a reprodução de vídeo.
    </video>
</div>
<div id="video-url" data-url="{{ video.video_file.url }}"></div>
{% else %}
<div class="video-choose">
    <video controls id="video-player" style="display: none;">
        Seu navegador não suporta a reprodução de vídeo.
    </video>
</div>
{% endif %}


<!-- Div para campos de início e fim do corte -->
<form method="post" enctype="multipart/form-data" id="cut-video-form">
    {% csrf_token %}
    
    
    <div id="cut-form-container">

        <div class="cut-form" id="cut-form">

            <div class="cut-form-item">

                <div class="cut-form-item-start">
                    <label for="start_time">Início (hh:mm:ss)</label>
                    <input type="text" name="start_time" class="start-time" required>
                </div>

                <div class="cut-form-item-end">
                    <div>
                        <label for="end_time">Fim (hh:mm:ss):</label>
                        <input type="text" name="end_time" class="end-time" required>

                    </div>
                </div>

                <div class="cut-form-item-button ">
                    <!-- Botão para excluir a div cut-form -->
                    <button class="remove-cut-form-button btn btn-danger btn-sm ">Remover Corte</button>
                </div>

            </div>
        </div>

        <div class="btn-add-cut">
            <!-- Botão para adicionar um novo corte -->
            <button id="add-cut-form" class="btn-primary btn">Adicionar Corte</button>
        </div>


    </div>

    <div class="btn-cut-video container" id="cut-video-button">
        <!-- Botão para cortar o vídeo -->
        <button class="btn-primary btn " type="submit">Cortar Vídeo</button>
    </div>



    <!-- Modal -->
    <div id="loading-modal" class="modal">
        <div class="modal-content">
            <p>Processando... <i class="fa fa-spinner fa-spin"></i></p>
        </div>
    </div>


</form>


{% endblock %}